/*****************************************
*
*           react-wp-gallery
*           - by Trond Erling Hundal
*
*
*****************************************/

@arrowsize: 30px;

@import "normalize";

#root {

    .image-grid {
        display: flex;
        justify-content: space-between;
        flex-flow: row wrap;
        .image {
            padding: 5px;
            &.thumb {
                .image-card {
                    img {
                        max-width: 250px;
                    }
                }
            }
        }
    }

    .image.fullsize {
        position: absolute;
        z-index: 200;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        text-align: center;
        background-color: rgba(0, 0, 0, 0.7);

        .inner {
            display: flex;
            justify-content: center;
            align-items: center;
            margin: auto;
            text-align: left;
            height: 100%;

            .image-container {

                figure {
                    position: relative;
                    padding: 0 0 0 0;
                    margin: 0 0 0 0;

                    .image-header {
                        position: absolute;
                        z-index: 400;
                        height: 50px;
                        width: 100%;
                        padding: 0 15px;

                        display: flex;
                        flex-flow: row wrap;

                        align-items: center;
                        justify-content: space-between;

                        .close-image {
                            display: inline-block;
                            text-decoration: none;
                            color: #000;
                            opacity: 0.8;
                            font-size: 0.75em;
                            background: #fff;
                            border-radius: 30px;
                            padding: 12px;
                            width: 40px;
                            text-align: center;
                            margin-left: 10px;
                        }

                        .page-number {
                            display: inline-block;
                            background: #fff;
                            border-radius: 30px;
                            padding: 12px;
                            span {
                                font-size: 0.75em;
                            }
                        }
                    }
                    img {
                        max-width: calc(~'100vw - 10px');
                        max-height: calc(~'100vh - 20px');
                    }
                }

                .imagenav {
                    position: absolute;
                    display: block;
                    z-index: 300;
                    top: 50%;
                    margin-top: -25px;

                    &.previous-image {
                        left: 0;

                        div.arrow-left {
                            background: none;
                            width: 0;
                            height: 0;
                            font-size: 0;
                            border-top: @arrowsize solid transparent;
                            border-bottom: @arrowsize solid transparent;
                            border-left: @arrowsize solid transparent;
                            border-right: @arrowsize solid #fff;
                            opacity: 0.4;
                            &:hover {
                                opacity: 0.9;
                            }
                        }
                    }

                    &.next-image {
                        right: 0;

                        div.arrow-right {
                            background: none;
                            width: 0;
                            height: 0;
                            font-size: 0;
                            border-top: @arrowsize solid transparent;
                            border-bottom: @arrowsize solid transparent;
                            border-right: @arrowsize solid transparent;
                            border-left: @arrowsize solid #fff;

                            opacity: 0.4;
                            &:hover {
                                opacity: 0.9;
                            }
                        }
                    }

                }
            }
        }
    }
}

@media (max-width: 800px) {
    #root {
        .image.fullsize {
            .inner {
                .image-container {
                    .imagenav {
                        display: none;
                    }

                }
            }
        }
    }
}